* {
  margin: 0;
}

.produto {
  padding: 0px 10px;
  border: 0.5px solid black;
  border-radius: 6px;

  h2 {
    margin-bottom: 10px;
  }

  button {
    margin: 10px 0;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    transition: 0.2s;
  }

  button:hover {
    background-color: #eee;
  }
}
